spring.application.name=product-service
server.port=8084
spring.data.mongodb.uri=mongodb://localhost:27017/productdb
spring.data.mongodb.database=productdb
spring.data.mongodb.auto-index-creation=true
jwt.secret=dGhpcy1pcy1hLXZlcnktc2VjdXJlLXNlY3JldC1rZXktZm9yLWxhdW5kcnktYXBw
